<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediCAL"
        tools:targetApi="31">
        <activity
            android:name=".FAQActivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BienvenidoActivity"></activity>
        <activity android:name=".CrearCuenta1Activity"></activity>
        <activity android:name=".CrearCuenta2Activity"></activity>
        <activity android:name=".CrearCuenta3Activity"></activity>
        <activity android:name=".CrearCuenta3_1Activity"></activity>
        <activity android:name=".CrearCuenta4Activity"></activity>
        <activity android:name=".BienvenidoUsuarioActivity"></activity>
        <activity android:name=".CodigoInvalidoActivity"></activity>
        <activity android:name=".LeerTYCActivity"></activity>
        <activity android:name=".LeerPoliticasActivity"></activity>
        <activity android:name=".InicioCalendarioActivity"></activity>
        <activity android:name=".EjemploActivity"></activity>
        <activity android:name=".EditarDosisFuturasActivity"></activity>
        <activity android:name=".PoliticasPrivacidadActivity"></activity>
        <activity android:name=".CodigoVerificacionActivity"></activity>
        <activity android:name=".IniciarSesionActivity"></activity>
        <activity android:name=".ContactoSoporteActivity"></activity>
        <activity android:name=".CrearCalendario1Activity"></activity>
        <activity android:name=".CrearCalendario2Activity"></activity>
    </application>

</manifest>