<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permiso para recibir notificaciones -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Reemplaza "com.tu.paquete" con el paquete de tu aplicación -->
    <permission
        android:name="com.tu.paquete.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tu.paquete.permission.C2D_MESSAGE" />

    <!-- Permiso para abrir enlaces desde notificaciones -->
    <uses-permission android:name="android.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />


    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediCAL"
        tools:targetApi="26">

        <service
            android:name=".FirebaseMessaging.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.Recieve"/>
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name=".FAQActivity"
            android:exported="false"/>
        <activity
            android:name=".ElegirAdministracionMedActivity"
            android:exported="false"/>
        <activity
            android:name=".ElegirPresentacionMedActivity"
            android:exported="false"/>
        <activity android:name=".ConsejosActivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BienvenidoActivity"></activity>
        <activity android:name=".CrearCuenta1Activity"></activity>
        <activity android:name=".CrearCuenta2Activity"></activity>
        <activity android:name=".CrearCuenta3Activity"></activity>
        <activity android:name=".CrearCuenta3_1Activity"></activity>
        <activity android:name=".CrearCuenta4Activity"></activity>
        <activity android:name=".BienvenidoUsuarioActivity"></activity>
        <activity android:name=".CodigoInvalidoActivity"></activity>
        <activity android:name=".LeerTYCActivity"></activity>
        <activity android:name=".LeerPoliticasActivity"></activity>
        <activity android:name=".InicioCalendarioActivity"></activity>
        <activity android:name=".EjemploActivity"></activity>
        <activity android:name=".EditarDosisFuturasActivity"></activity>
        <activity android:name=".PoliticasPrivacidadActivity"></activity>
        <activity android:name=".CodigoVerificacionActivity"></activity>
        <activity android:name=".IniciarSesionActivity"></activity>
        <activity android:name=".ContactoSoporteActivity"></activity>
        <activity android:name=".CrearCalendario1Activity"></activity>
        <activity android:name=".CrearCalendario2Activity"></activity>
        <activity android:name=".EditarPerfilUsuarioActivity"></activity>
        <activity android:name=".CalendarioCreadoActivity"></activity>
        <activity android:name=".EditarCalendarioActivity"></activity>
        <activity android:name=".RestablecerContraseniaActivity"></activity>
        <activity android:name=".NuevoContactoActivity"></activity>
        <activity android:name=".ElegirFrecuenciaActivity"></activity>
        <activity android:name=".FrecuenciaxciclosActivity"></activity>
        <activity android:name=".FrecuenciaxdiasActivity"></activity>
        <activity android:name=".AnadirSintomaActivity"></activity>
        <activity android:name=".AnadirMedicionActivity"></activity>
        <activity android:name=".AgregarSeguimientoActivity"></activity>
        <activity android:name=".ElegirSeguimientoActivity"></activity>
        <activity android:name=".EstablecerMedicionActivity"></activity>
        <activity android:name=".FrecuenciaxhorasActivity"></activity>
        <activity android:name=".FrecuenciaxmesesActivity"></activity>
        <activity android:name=".SeleccionarHorarioRecordatorioActivity"></activity>
        <activity android:name=".FrecuenciaxsemanasActivity"></activity>
        <activity android:name=".ElegirMedicamentoActivity"></activity>
        <activity android:name=".MasActivity"></activity>
        <activity android:name=".MedicamentosActivity"></activity>
        <activity android:name=".MasInfoSintomaActivity"></activity>
        <activity android:name=".MasInfoMedicionActivity"></activity>
        <activity android:name=".EditarMedicionActivity"></activity>
        <activity android:name=".InicioMedicionesSintomasActivity"></activity>
        <activity android:name=".NuevoMedicamentoActivity"></activity>
        <activity android:name=".GestionarContactosActivity"></activity>
        <activity android:name=".AgregarFechaInicioRecordatorioActivity"></activity>
        <activity android:name=".AgregarDuracionRecordatorioActivity"></activity>
        <activity android:name=".ElegirDiasActivity"></activity>
        <activity android:name=".AgregarImagenRecordatorioActivity"></activity>
        <activity android:name=".SobreNosotrosActivity"></activity>
        <activity android:name=".ReportesActivity"></activity>
        <activity android:name=".InventarioMedicamentosActivity"></activity>
        <activity android:name=".AgregarDatosObligatoriosActivity"></activity>
        <activity android:name=".AgregarInstruccionesActivity"></activity>
        <activity android:name=".AgregarIndicacionesActivity"></activity>
        <activity android:name=".AgregarInventarioActivity"></activity>
        <activity android:name=".AgregarAlertaInventarioActivity"></activity>
        <activity android:name=".EditarUnaDosisActivity"></activity>
        <activity android:name=".AgregarReporteActivity"></activity>
        <activity android:name=".DescargarReporteActivity"></activity>

    </application>

</manifest>